@use 'breakpoints' as bp;

.container {
  --max-width: 1150px;
  --padding: clamp(1rem, 5vw, 3rem);

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.flow * + * {
  margin-top: var(--flow-spacer, 2em);
}

.two-columns {
  display: grid;
  gap: 5rem;
}

@media (min-width: bp.$medium-breakpoint) {
  .two-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .two-columns img {
    margin: auto;
  }
}

@media (max-width: bp.$medium-breakpoint) {
  .two-columns {
    gap: 3rem;
  }
}

@media (max-width: bp.$medium-breakpoint) {
  .small-reverse-order {
    order: -1;
  }
}

.center-tag {
  display: flex;
  align-items: center;
  justify-content: center;
}
