@use '../abstracts/fonts' as fonts;
@use '../abstracts/colors' as colors;

@use '../components/map-functions' as func;

body {
  font-size: fonts.$fs-body;
  font-family: fonts.$font-family-primary;
  color: func.getColor(primary, 400) !important;
  background-color: func.getColor(primary, 100);
}

.square-button {
  border: 0;
  padding: 0.4rem 1.3rem;
  cursor: pointer;
  color: func.getColor(neutral, 100);
  font-size: func.getFontSize(small, 450);
  font-weight: func.getFontWeight(medium);
}

.year-button {
  color: func.getColor(neutral, 100);
  cursor: pointer;
  border-radius: 100vmax;
  background-color: func.getColor(primary, 400);
}
