@use '../abstracts/' as *;
@use '../components/map-functions' as *;
@use '../utility/breakpoints' as *;

.footer {
  padding-top: getSize(800);
  padding-bottom: getSize(700);

  &--container {
    display: grid;
    place-items: center;
    row-gap: getSize(600);
  }

  &--links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: getSize(500);
  }

  &--social-icons {
    width: 3rem;
    height: 3rem;
    fill: getColor(primary, 400);

    &:is(:hover, :active, :focus) {
      opacity: 0.7;
    }
  }
}
