@use '../abstracts/' as *;
@use '../components/map-functions' as *;
@use '../utility/breakpoints' as *;

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 13.5rem);
  padding-top: 6rem;

  &--intro {
    animation: slide-in-left 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    @media (max-width: 35em) {
      animation: slide-in-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }

  &--main-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-in-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    @media (max-width: 35em) {
      animation: slide-in-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }

  &--button {
    background-color: getColor(accent, 400);
    &:is(:hover, :focus-visible) {
      background-color: getColor(accent, 200);
    }
  }
}
