@use '../abstracts/' as *;
@use '../components/map-functions' as *;
@use '../utility/breakpoints' as *;

.navbar {
  padding-top: 1.2rem;
  background-color: getColor(primary, 100);
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 1;
  border-bottom: 1px solid getColor(accent, 150);

  @media (max-width: $small-breakpoint) {
    &--mobile-shadow::before {
      content: '';
      position: fixed;
      inset: 0;
    }
  }

  &--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--mobile-toggle {
    display: none;

    @media (max-width: $small-breakpoint) {
      display: block;
      position: fixed;
      top: 1.5rem;
      right: 3.5vw;
      cursor: pointer;
      background: transparent;
      border: 0;
      padding: 0.5rem;
    }
  }

  &--navigation {
    @media (max-width: $small-breakpoint) {
      display: none;
    }
  }

  &--navigation-mobile {
    @media (max-width: $small-breakpoint) {
      display: block;
      position: fixed;
      z-index: 1;
      padding: getSize(700);
      inset: 6rem getSize(400) auto;
      max-width: 35rem;
      margin-inline: auto;
      background-color: getColor(accent, 100);
      backdrop-filter: blur(25px);
      -webkit-backdrop-filter: blur(25px);
      border-radius: getSize(100);
      box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.25);
    }
  }

  &--list {
    display: flex;
    gap: clamp(getSize(400), 5vw, getSize(700));

    @media (max-width: $small-breakpoint) {
      display: grid;
      gap: getSize(600);
      text-align: center;
    }

    a {
      font-weight: getFontWeight(regular);
      font-size: $fs-nav;
      color: getColor(primary, 400);

      &:is(:hover, :focus) {
        color: getColor(secondary, 400);
      }

      @media (max-width: $small-breakpoint) {
        font-weight: getFontWeight(bold);
      }
    }
  }

  &--github-icon {
    width: 2.5rem;
    height: 2.5rem;

    &:is(:hover, :active, :focus) {
      opacity: 0.6;
    }

    @media (max-width: 37em) {
      display: none;
    }
  }
}
