@use '../abstracts/' as *;
@use '../components/map-functions' as *;
@use '../utility/breakpoints' as *;

.projects {
  &--container {
    display: flex;
    flex-direction: column;
  }

  &--tag {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2rem;
    padding-block: 2.5rem;

    border-bottom: 1px solid rgba(182, 182, 182, 0.552);

    @media (max-width: $medium-breakpoint) {
      flex-wrap: wrap;
    }
  }

  &--image {
    width: 23rem;
    max-width: none;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.3);

    @media (max-width: $medium-breakpoint) {
      width: 100%;
      max-width: none;
    }
  }

  &--detail {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1rem;
  }

  &--description {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &--year {
    padding: 0.1rem getSize(400);
    font-size: getFontSize(small, 400);
  }
}
