@use '../abstracts/' as *;
@use '../components/map-functions' as *;
@use '../utility/breakpoints' as *;

.timeline {
  background-color: getColor(primary, 100);
  color: getColor(primary, 400);

  &--projects {
    padding-top: 6.3rem;
  }

  &--info {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
  }

  &--heading {
    display: block;
    text-align: center;
    padding-bottom: getSize(500);
  }

  &--image {
    padding-block: 1rem;
  }

  &--description {
    font-weight: 400 !important;
    a {
      color: blue;
      cursor: pointer;
    }
  }

  &--year {
    padding: 0.1rem getSize(400);
    font-size: getFontSize(small, 300) !important;
  }

  &--tag {
    font-size: getFontSize(small, 350) !important;
  }
}

/* Overwrite Default Timeline Stylings */

.vertical-timeline {
  position: relative;
}

.vertical-timeline::before {
  top: 2em !important;
  height: calc(100% - 3.9em) !important;
}

.vertical-timeline-element-icon {
  top: 50% !important;
  left: 0.8em !important;
  width: 15px !important;
  height: 15px !important;
  background-color: getColor(primary, 400);
  box-shadow: 0 1px 0.75em rgb(0, 0, 0, 0.8) !important;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 15px !important;
    height: 15px !important;
    left: 52.15% !important;
    box-shadow: 0 1px 0.75em rgb(0, 0, 0, 0.8) !important;
  }
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content-arrow {
    top: 50% !important;
  }
}

.vertical-timeline-element-content-arrow {
  top: 50% !important;
}

.vertical-timeline-element-content {
  box-shadow: 0 1px 0.75em rgba(0, 0, 0, 0.25) !important;
  background-color: transparent !important;
}

@media only screen and (max-width: 1169px) {
  .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    visibility: visible;
    animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both !important;
  }
}

@keyframes fade-in-right {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
