@use 'sass:map';

$font-sizes: (
  small: (
    200: 0.75rem,
    250: 0.82rem,
    300: 0.875rem,
    350: 0.925rem,
    400: 1rem,
    450: 1.125rem,
    500: 1.25rem,
    600: 1.5rem,
    650: 1.625rem,
    700: 1.875rem,
    800: 2rem,
    850: 2.5rem,
    900: 2.75rem,
    950: 3.4rem,
  ),
  large: (
    700: 1.5rem,
    900: 2rem,
  ),
);

:root {
  @each $display, $sizes in $font-sizes {
    @each $size, $value in $sizes {
      --fs-#{$size}: #{$value};
    }
  }
}

@each $display, $sizes in $font-sizes {
  @each $size, $value in $sizes {
    .fs-#{$display}-#{$size} {
      font-size: $value;
    }
  }
}
