--- 
import Navbar from '../components/Main/Navbar';
import Footer from '../components/Main/Footer.jsx'

import MetaImg from '../assets/main-img.avif'
import Favicon from '../assets/coding-favicon.png'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Julian's Portfolio">
		<meta name="keywords" content="Astro, React, SCSS">
		<meta name="author" content="Julian Hein">
		<meta itemprop="image" content={MetaImg}  />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link
      type="image/png"
      sizes="16x16"
      rel="icon"
      href={Favicon}
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
		<link rel="icon" type="image/svg+xml" href="../assets/coding-favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar client:load/>
		<slot />
		<Footer />
	</body>
</html>